$color_g: #00ff00;
$color_r: red;
$color_or: #CD5C5C;

@font-face {
   font-family: 'TH Niramit AS';
   src: url('fonts/TH Niramit AS.ttf') format('truetype');
   font-family: 'TH Niramit AS Bold';
   src: url('fonts/TH Niramit AS Bold.ttf') format('truetype');
}

html {
  // font-size: 10px;
}

header {
	background: #726144;
	color: white;
	font-family: 'TH Niramit AS Bold', sans-serif !important;
	//margin: 0;
}

body {
  font-family: 'TH Niramit AS', sans-serif !important;
  font-size: 2rem;
}

body.login {
  background-color: $color_or;
}

.container.container-login {
  max-width: 420px;
  margin-top: 18vh;

  .form-group:last-child {
    text-align: center;
  }

  .block-img-login {
    max-width: 200px;
    margin: auto;
    margin-bottom: 20px;

    text-align: center;

    img {
      width: 100%;
    }
  }

  input[type="checkbox"] {
    cursor: pointer;
  }

  button[type="submit"], button[type="reset"] {
    cursor: pointer;
  }
}

.container.container-logo {
	.block-img-logo {
		text-align: center;
		margin-top: 2vh;
		margin-bottom: 20px;
	}
}

nav ul li{
	display: inline-block;
	list-style-type: none;
	padding: 5px 15px;
	margin: 0;
	font-size: 24px;
}


.container-form {
  margin-top: 10vh;
}

//Navbar style
$bgDefault      : #726144;
$bgHighlight    : #423319;
$colDefault     : #ffffff;
$colHighlight   : #ffffff;
$dropDown       : false;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li {
            > a {
              color: $colDefault;
              &:hover,  &:focus {
                color: $colHighlight;
                background-color: $bgHighlight; }}
            &.divider {
              background-color: $bgHighlight;}}}}}
    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}

//footer
.footer-bottom {
    background-color: #726144;
    min-height: 30px;
    width: 100%;
}

.information {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
	text-align: center;
}